body {
   background-color: #202124;

   font-size: 1em;
   font-family: "Segoe UI", "San Francisco", Ubuntu, "Open Sans", Roboto, Arial, sans-serif;
}

fieldset {
   background-color: #292a2d;
   border: .077em solid #141414;
   border-radius: .25em;
   box-shadow: #000000 0px .25em .5em -.25em;
   margin-bottom: 2em;
   padding: .8em;

   width: 60%;

   margin-left: 20%;
}

legend {
   color: white;
}
